# readme
readme
readme/*

# Всегда игнорируем папки
**/node_modules/**

# Всегда игнорируем файлы
**/.DS_Store
**/*.html
**/*.md
**/*.gitignore
**/*.xml
**/*.log
**/*.ico
**/*.less
**/*.css
**/*.json
**/*.svg
**/*.gif
**/*.snap
**/*.txt
**/*.ttf
**/*.woff
**/*.woff2
**/*.lock
**/*.test.ts
**/*.test.tsx
jest.config.*

*.js
